port: "8080"
repos:
  - name: linuxoid69
    url: https://linuxoid69.github.io/helm-charts
    charts:
      - backup-exporter
      - motion
  - name: wiremind
    url: https://wiremind.github.io/wiremind-helm-charts
    charts:
      - argo-crds
